annotated-types==0.7.0.2
appnope==0.1.0.2
asttokens==2.4.1
backcall==0.1.0.2
bcrypt==3.1.4.2
blinker==1.4.2
certifi==2024.6.2
cffi==1.14.2.2
charset-normalizer==3.3.2
Click==7.0.2
decorator==4.3.0.2
exceptiongroup==1.2.1
executing==2.0.1
Faker==0.9.1.2
Flask==1.0.2
Flask-Bcrypt==0.7.1.2
Flask-DebugToolbar==0.10.1.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2.2
idna==3.7
ipython==7.0.1.2
ipython-genutils==0.2.0.2
itsdangerous==0.24.2
jedi==0.13.1.2
Jinja2==2.10.2
MarkupSafe==1.1.1
matplotlib-inline==0.1.7
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.5
psycopg2==2.9.9.2
ptyprocess==0.6.0.2
pure-eval==0.2.2
pycparser==2.19.2
pydantic==2.7.4
pydantic_core==2.20.1
Pygments==2.2.0.2
python-dateutil==2.7.3
python-dotenv==1.0.1
requests==2.32.3
simplegeneric==0.8.1.2
six==1.11.0.2
-e git+https://github.com/ddsky/spoonacular-api-clients@ec7086de6a2d8575107a7391e1e549d475ceb916#egg=spoonacular&subdirectory=python
SQLAlchemy==1.2.12.2
stack-data==0.6.3
text-unidecode==1.2
traitlets==4.3.2.2
typing_extensions==4.12.2.2
urllib3==2.0.7
wcwidth==0.1.7
Werkzeug==0.14.1.2
WTForms==2.2.1
