{% extends 'base.html' %}

{% block content %}

  <h1>{{list.title}}</h1>

  {% for recipe in recipes %}

    <div class="recipe-item">
      <div class="text-center"> <!-- Center the title -->
        <span>{{ recipe.title }}</span>
      </div>
      <img src="{{ recipe.image_url }}" data-recipeId="{{ recipe.id }}" alt="{{ recipe.title }}" class="img-fluid"> <!-- Make the image responsive -->
      <a href="/lists/delete_recipe/{{list.id}}/{{recipe.id}}" class="btn btn-outline-danger btn-sm">Delete</a>
    </div>

  {% endfor %}

  <a href="/lists/delete/{{list.id}}" class="btn btn-danger btn-lg btn-block">Delete list</a>

{% endblock %}