{% extends 'base.html' %}

{% block content %}

  <h1>{{list.title}}</h1>

  <div id="recipes" class="row">
    {% for recipe in recipes %}
      <div class="col-md-4">
        <div class="recipe-item">
          <img src="{{ recipe.image_url }}" data-recipeId="{{ recipe.id }}" alt="{{ recipe.title }}" class="img-fluid"> <!-- Make the image responsive -->
        </div>
        <i class="far fa-heart {% if recipe in user.favorites %}fas{% else %}far{% endif %} favorite-selector" data-recipeId="{{ recipe.id }}"></i>
        <span>{{ recipe.title }}</span>
      </div>
    {% endfor %}
  </div>

  <a href="/lists/delete/{{list.id}}" class="btn btn-danger btn-lg btn-block">Delete list</a>

{% endblock %}

{% block scripts %}

  <script src="/static/js/favorite.js"></script>

{% endblock %}